body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: rgba(2,0,36,1.0);
}
p {
	color: #FFF;
	font-family: 'Roboto Mono', monospace;
	line-height: 1.7em;
}
.lead {
	font-size: 0.9em;
	border-left: 1px solid #ff9100;
	padding-left: 40px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	padding-right: 50px;
}
#background {
	background: url('../img/background.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  height: 100%;

  .gradient {
  	background: rgba(2,0,36,0.92);
  	display: block;
  	height: 100%;
  }
}

#next-stream {
  position: fixed;
  font-size: 0.9em;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -220px;
  top: 50%;
  z-index: 1040;
  opacity: 0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
  
  &.show {
  	opacity: 1;
  }
}

#frontpage {
	display: flex;
  align-items: center;
  justify-content: center;
  width: 980px;
  margin: 0 auto;
  height: 100%;

  h1 {
		font-family: 'Poppins', sans-serif;
		color: #FFF;
		font-weight: 600;
		font-size: 1.9em;
		span {
			color: #ff9100;
			font-weight: 600;
		}
	}
}

.player-area {
	width: 50%;
	float: left;
	position: relative;
	display: block;
	height: auto;
	display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

	#player {
		max-width: 100%;
		min-width: 100%;
		padding-top: 56.25%;
		background: rgba(2,0,36,1);
		position:absolute;

		.vjs-big-play-button{
			top: 50%;
			left: 50%;
			margin-left: -1.5em;
			margin-top: -0.75em;
			border:none;
			background: #090979;
		}
		.vjs-tech { object-fit: cover; }
	}
}
.title-area {
	width: 50%;
	float: right;
	position: relative;
	margin-left: 20px;
}