#frontpage-bg {
  background-image: url('../img/background.png');
}
#frontpage {
  max-width: 980px;
  margin: 0 auto;
  height: 100%;
  display: flex;

  .col {
    flex: 1;
  }
  
  .player-area {
    margin-right: 20px;
  }

  .title-area {
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  #frontpage {
    padding: 0 5%;
    flex-direction: column;

    .title-area, 
    .player-area {
      margin: 0;
      height: 50%;
    }
  }
}