body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(2,0,36,1.0);
  color: #FFF;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .gradient {
    background: rgba(2,0,36,0.92);
  }
}