#player {
  max-width: 100%;
  min-width: 100%;
  padding-top: 56.25%;
  background: rgba(2,0,36,1);

  .vjs-big-play-button{
    top: 50%;
    left: 50%;
    margin-left: -1.5em;
    margin-top: -0.75em;
    border:none;
    background: #090979;
  }
}