h1, h2 {
  font-family: 'Poppins', sans-serif;
}
p {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.7em;
  font-weight: 400;
}
.lead {
  font-size: 0.9em;
  border-left: 1px solid $orange-color;
  padding-left: 40px;
  padding-right: 50px;
}
@media screen and (max-width: 600px) {
  .lead {
    padding: 0 0 0 15px;
    font-size: 0.8em;
  }
}
h1 {
  font-weight: 600;
  font-size: 1.9em;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4em;
  }
}
.orange {
  color: $orange-color;
}
.w-600 {
  font-weight: 600;
}