html
  head
    title= title
    link(href='/static/css/style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900;Roboto+Mono', rel='stylesheet')

  body
    #background
      .gradient
        .faq
          h1 How to connect
            div 
              p Get login info from us
              p Install streaming service
              p Stream to domain


          
    script(src='/static/js/script.js')