//- index.pug
extends layout.pug

block content
  #frontpage-bg.background-cover
    .gradient
      #frontpage.flex-center
        
        .player-area.col
          div
            video#player.video-js.vjs-default-skin(controls, preload='none')
              source(src='/hls/stream.m3u8', type='application/x-mpegURL')
        .title-area.col
          h1
            | Watch and listen to 
            span.orange.w-600 DJ’s playing, 
            | or put up a set yourself. Watch or play 
            span.orange.w-600 live 
            | wherever you are.

          p.lead
            span Basementline is a platform for DJ’s of all levels to play and engage in the world of electronic music. We all share the passion for beats, bars and phrases.

  #next-stream